*{margin:0; padding: 0;}
/*body{font-family: }*/
/*body{padding: 60px;}*/
li{list-style: none;}
a{text-decoration: none;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}	
a:active{text-decoration: none;}
a:hover{text-decoration: none;}
	
img{border:0;}
html, body{
	height:100%;
	font-family: Arial,Helvetica,sans-serif;
}
body{
	background-color:black;
}
/*화면 우측 하단 설정 버튼*/
.setting_button{ 
	z-index:10;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
}
#up_arrow_button{
	display: none;
}	
#night_mode_button{
	display: none;
}
#main_title{
	position:fixed;
	left:150px;
	top:20px;
	font-size: 25px;
	font-weight:  bold;
}
/*상단 헤더 메뉴*/
#main_header{ 
	z-index: 100; /*가장 상단 노출*/
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background-color: black;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

/* bina added  start */
#main_header img {

	height: 75px;
	width: 65px;
	margin-left: 70px;
	margin-top: 5px;

}


.match img{
	width: 20%;
	height: 20%;

/*position:fixed;*/
left:150px;
top:20px;
font-size: 25px;
font-weight:  bold;
}
nav{
	position: fixed;
	top:25px;
	font-size: 15px;
	right:150px;
	font-family: avenir-lt-w01_35-light1475496, sans-serif;
	letter-spacing:1px;

}
nav ul li {
	float:left;
	margin-left: 60px;
}
nav ul li a {
	color:white;
}
nav ul li a:hover {

	color: rgba(255, 80, 32, 1);
	-webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
nav ul li a:focus {

	color: rgba(255, 80, 32, 1);
}
#gameenginespace{
 	height: 120%;
	width: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(172,178,207,1) 0%, rgba(191,149,187,1) 49%, rgba(238,79,138,1) 100%);
}
#gameenginespace a{
	color: white;
	cursor: pointer
}
#gameenginespace a:visited{
	color: white;
}
#gameenginespace a:hover{
	color: #c8cace;
}

#gameengineButton{
	color: white;
}
#gameengineButton:hover{
	color: #c8cace;
}

#esportsspace img{
	height: 100%;
	display: block;
}

#esportsspace{
	position: relative;
	height: 100%;
	width: 100%;
}

#esportsarticle{
	width: 45%;
	height: 100%;
	background-color: white;
	font-family: Arial,Helvetica,sans-serif;
	position: absolute;
	top:0;
	right: 0;
	text-align: center;
}

#checkout{
	font-size: 25px;
	font-family: avenir-lt-w01_35-light1475496, sans-serif;
	color:darkgray;
	margin-top: 15%;
	margin-bottom: 8%;
}
#article_title{
	font-size: 40px;
	font-weight: bold;
	color:black;
	margin-bottom: 5%;
}
#article_title span{
	color: #990099;
}
#article_text{
	color: darkgray;
	font-size:20px;
	margin-bottom: 10%;
}
.article_menu{
	color : black;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 40%;
	margin-bottom:3%; 
	background-color: #f6f6f6;
}
#esportsbutton{
	margin-left:auto;
	margin-right: auto;
	color :white;
	width:40%;
	padding :10px;
	background-color: #990099;
}
#esportsbutton:hover{
	cursor: pointer;
}
.live_article_menu2:hover{
	cursor: pointer;
}
/* bina added end */

/*live article*/
	/*	<div id="livearticle">
			<div id="stream_now">STREAM NOW</div>
			<div id="live_article_title">THIS-MONTH <br><span>RECOMMANDED</span> GAME STREAMER</div>
			<div id= "live_article_text">
				Who's your best Streamer?
			</div>
		</div>*/

#livespace{
	background-color:black;
	height:150%;
	width:100%;
	position:relative;
	
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
#livearticle{
	margin:auto;
	height:100%;
	width:100%;
	overflow: hidden;
	/*margin-top:15%;*/
}
#onair{
	width:20%;
	height:15%;
	margin-left:8%;
	margin-top:5%;
	-webkit-animation-name: blinker;
   -webkit-animation-duration: 0.8s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:ease-in-out;
   -webkit-animation-direction: alternate;
}
#live_article_title{
	font-size: 250%;
	font-weight: bold;
	color:ivory;
	margin-left:10%;
	/*margin-bottom: 5%;
	margin-left:10%;*/
}
#live_article_title span{
	font-size:140%;
	color:orange;
	text-align:center;
	width:120%;

}
/*#live_article_text{
	color: orange;
	font-size:300%;
	margin:3% 0 5% 30%;
	/*margin-bottom: 10%;*/
	/*color: rgb(199, 50, 35);*/
	/*color:ivory;
}*/
#streamer{
	margin:0 0 0 10%;
	width:80%;
	height:50%;
}
#game_streamer{
	text-align:left;
}
.live_article_menu{
	color : black;
	font-weight: bold;
	/*margin-left: auto;
	margin-right: auto;*/
	margin-left:10%;
	padding: 10%;
	width: 200%;
	margin-bottom:20%; 
	background-color: orange;
	text-align:center;
}
.live_article_menu2{
	/*margin-left:auto;
	margin-right: auto;*/
	color :orange;
	width:200%;
	padding :10%;
	background-color: ivory;
	text-align:center;
	margin-left:10%;
	font-weight: bold;

}
.live_article_menu3{
	/*margin-left:auto;
	margin-right: auto;*/
	color :black;
	width:200%;
	padding :10%;
	background-color: orange;
	text-align:center;
	margin-left:10%;
	margin-top:20%;
	font-weight: bold;

}
/*live article end*/
#live_left{
	float:left;
	margin-left:7%;
	margin-top:3%;
}
#live_right{
	float:right;
	margin-right:20%;
	margin-top:5%;
}

/*슬라이드쇼 관련*/
#slide_show{
	position: relative;
	overflow: hidden;
	width:100%; 
	height:40%;
	border:1px solid black;
	margin: 0 auto;
	margin-top: 10%;
}
.slide{
	
	display: none;
	width:100%; 
	height:100%;
}
#left_arrow{
	position: absolute;
	top: 40%;
	width: 5%;
	height: 20%;
	opacity: 0.2;
}
#right_arrow{
	position: absolute;
	top: 40%;
	right: 0%;	
	width: 5%;
	height: 20%;
	opacity: 0.2;
}

/*기사 내용 부분*/
.article{
	margin:0 auto;
	width:100%; 
	height:100%;
	/*border:1px solid black;*/
}

.article_partition{
	width:90%;
	height:130%;
	margin:5% auto;
	padding:2% 0 0 2%;
	position:relative;
	background-color:black;
	font-family: 'Nanum Gothic Coding', monospace;
	line-height:150%;

}

.small_article{
	position:relative;
	margin:3% 3%;
	float:left;
	width:45%; 
	height:35%;
	text-align:center;
	background-color: white;
	/*border:1px dotted black;*/
	z-index: 10;
	overflow:hidden;
}
.article_title{
	/*margin: 3%;*/
	margin : 3% 0 3% 1%;
	width:60%;
	color: black;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height:8%;
	font-family: 'Gugi', cursive;
	display:none;
	/*background-color:orange;*/
	/*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,79,90,1) 0%, rgba(238,79,119,1) 79%, rgba(238,79,138,1) 100%);*/
}
.article_thumbnail{

	/*overflow-y: scroll;*/
	/*padding-top:  5%;
	padding-bottom: 5%;*/
	text-align: center;
	height: 100%;
	width: 100%;
	margin:0 auto;
	color: white;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,79,138,1) 0%, rgba(238,79,119,1) 21%, rgba(238,79,90,1) 100%);
  	
  	/*position:relative;*/
}

.article_thumbnail img{
	/*height: 30%;
	widows: 30%;*/
}

.article_content{
	display: none;
	height: 70%;
	width: 95%;
	margin:0 auto;
	color: white;
	overflow-y: scroll;
	/*border:2px solid rgba(236, 54, 66, 1);*/
	background-color: orange;
	position:relative;
	font-family: 'Nanum Gothic Coding', monospace;
	text-align:left;
}
#streamer1_left{
	float:left;
}
#streamer1_right{
	float:right;
}
.go_back_arrow{
	position: absolute;
	bottom:1%;
	right:1%;
	width: 7%;
	height: 7%;

}
.article_status{
	position: absolute;
	overflow: hidden;
	height: 7%;
	width: 25%;
	right: 3%;
	top: 8%;
	color:white;
	/*background-color: rgb(255,192,0);*/
}
.like_counter{	
	margin-right: 20%;
	float: right;
	height: 100%;
}
.watch_counter{
	margin-left: 5%;
	float: left;
	height: 100%;
}

.article1{
	position:absolute;
	left:1%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article2{
	position:absolute;

	left:50%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article3{
	position:absolute;
	left:1%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article4{
	position:absolute;

	left:50%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/

}

#partition4{
	position: relative;
	font-family: Arial,Helvetica,sans-serif;
}
#esports_section{
	overflow :hidden;
	background-image: url("esports_image3.png");
	height: 100%;
	width: 100%;
	position:absolute;
	background-repeat: no-repeat;
}

.imgcover{	
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;

}
#esports_section_left{
	position: absolute;
	height : 100%;
	width: 50%;
	left:0;
	z-index:2;
}
#esports_section_right{
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	z-index: 2;
	padding-top: 10%;
}

#esports_section_title{
	color:  rgba(255, 80, 32, 1);
	font-size:50px;
	font-weight: bold;
	margin-top: 15%;
	margin-left: 15%;
}
#esports_description{
	color: white;
	font-size: 20px;
	margin-top:10%;
	margin-left: 15%;
}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  text-align:center;
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 2em auto;
  padding: 1em 2em;
  position: relative;
  text-transform: uppercase;
  width:50%;
}

button::before,
button::after {
  background: #fff;
  content: '';	
  position: absolute;
  z-index: -1;
}

button:hover {
  color: rgba(255, 80, 32, 1);
  cursor:pointer;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;

}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;

}

.btn-2:hover:after {
  width: 100%;
}

/* BUTTON 3 */
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;

}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* BUTTON 4 */
.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: rgba(255, 80, 32, 1);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

#date{
	font-size : 30px;
	text-align: center;
	font-weight: bold;
	color: white;

}

#loading_body{
	height:100%;
	width:100%;
	text-align: center;

}
#loading{
	margin-top: 8%;
	-webkit-animation-name: blinker;
   -webkit-animation-duration: 0.8s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:ease-in-out;
   -webkit-animation-direction: alternate;
}

.streamer_card{
	width:100%;
	height:100%;
}

.content2-1{
	margin:5% 0 5% 3%;
	height:auto;
	width:100%;
	background-color: rgb(31,78,121);
	color:white;
}
#streamer1_left{
	width:70%;
	height:100%;
}
#streamer1_left>img{
	width:70%;

}
#article2-1{
	background-color:white;
}
#article2-1>.article_content{
	background-color: rgb(31,78,121);
}
#article2-3>.article_content{
	background-color: rgb(56,87,35);
}
#article2-4>.article_content{
	background-color: rgb(51,63,80);
}
#article2-2>.article_content>img{
	width:100%;
}
.content2-2{
	margin:5% 0 5% 3%;
	height:30%;
	width:100%;
	color:white;
}
#article2-2>.article_content{
	background-image:url("esca2.png");
	background-size:100% 100%;
}
#streamer2_right{
	float:right;
	width:55%;
}
#streamer3_left{
	float:left;
	width:30%;
}
#streamer3_right{
	float:right;
	width:55%;
}
#streamer4_left{
	float:left;
	width:100%;
}
#streamer4_right{
	float:right;
	width:0;
	display:none;
}
.content2-3{
	margin:5% 0 5% 3%;
	height:30%;
	width:100%;
	color:white;
	background-color: rgb(56,87,35);
}
.content2-4{
	margin:5% 0 5% 3%;
	height:30%;
	width:100%;
	color:white;
	background-color: rgb(51,63,80);
}
.introduce{
	width:100%;
	height:auto;
	word-break:break-all;
	margin:5% 3% 5% 3%;
	/*background-color:rgb(191,191,191);*/
}
#partition2{
	/*background-image:url("newspaper_background.png");
	background-repeat:no-repeat;
	background-size: 100% 110%;*/
}
.content_title{
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:3%;
}