*{margin:0; padding: 0;}
/*body{font-family: }*/
/*body{padding: 60px;}*/
li{list-style: none;}
a{text-decoration: none;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}	
a:active{text-decoration: none;}
a:hover{text-decoration: none;}
	
img{border:0;}
html, body{
	height:100%;
	font-family: Arial,Helvetica,sans-serif;
}
body{
	background-color:black;
}
/*화면 우측 하단 설정 버튼*/
.setting_button{ 
	z-index:10;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
}
#up_arrow_button{
	display: none;
}	
#night_mode_button{
	display: none;
}
/*상단 헤더 메뉴*/
#main_header{ 
	z-index: 100; /*가장 상단 노출*/
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background-color: black;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

/* bina added  start */
#main_header img {

	height: 75px;
	width: 65px;
	margin-left: 70px;
	margin-top: 5px;

}


.match img{
	width: 20%;
	height: 20%;

position:fixed;
left:150px;
top:20px;
font-size: 25px;
font-weight:  bold;
}
nav{
	position: fixed;
	top:25px;
	font-size: 15px;
	right:150px;
	font-family: avenir-lt-w01_35-light1475496, sans-serif;
	letter-spacing:1px;

}
nav ul li {
	float:left;
	margin-left: 60px;
}
nav ul li a {
	color:white;
}
nav ul li a:hover {

	color: rgba(255, 80, 32, 1);
	-webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
nav ul li a:focus {

	color: rgba(255, 80, 32, 1);
}
#gameenginespace{
 	height: 120%;
	width: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(172,178,207,1) 0%, rgba(191,149,187,1) 49%, rgba(238,79,138,1) 100%);
}
#gameenginespace a{
	color: white;
	cursor: pointer
}
#gameenginespace a:visited{
	color: white;
}
#gameenginespace a:hover{
	color: #c8cace;
}

#gameengineButton{
	color: white;
}
#gameengineButton:hover{
	color: #c8cace;
}

#esportsspace img{
	height: 100%;
	display: block;
}

#esportsspace{
	position: relative;
	height: 100%;
	width: 100%;
}

#esportsarticle{
	width: 45%;
	height: 100%;
	background-color: white;
	font-family: Arial,Helvetica,sans-serif;
	position: absolute;
	top:0;
	right: 0;
	text-align: center;
}

#checkout{
	font-size: 25px;
	font-family: avenir-lt-w01_35-light1475496, sans-serif;
	color:darkgray;
	margin-top: 15%;
	margin-bottom: 8%;
}
#article_title{
	font-size: 40px;
	font-weight: bold;
	color:black;
	margin-bottom: 5%;
}
#article_title span{
	color: #990099;
}
#article_text{
	color: darkgray;
	font-size:20px;
	margin-bottom: 10%;
}
.article_menu{
	color : black;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 40%;
	margin-bottom:3%; 
	background-color: #f6f6f6;
}
#esportsbutton{
	margin-left:auto;
	margin-right: auto;
	color :white;
	width:40%;
	padding :10px;
	background-color: #990099;
}
#esportsbutton:hover{
	cursor: pointer;
}
/* bina added end */

/*live article*/
	/*	<div id="livearticle">
			<div id="stream_now">STREAM NOW</div>
			<div id="live_article_title">THIS-MONTH <br><span>RECOMMANDED</span> GAME STREAMER</div>
			<div id= "live_article_text">
				Who's your best Streamer?
			</div>
		</div>*/

#livespace{
	background-color:black;
	height:150%;
	width:100%;
	position:relative;
	
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
#livearticle{
	margin:auto;
	height:100%;
	width:100%;
	overflow: hidden;
	/*margin-top:15%;*/
}
#onair{
	width:20%;
	height:15%;
	margin-left:8%;
	margin-top:5%;
	-webkit-animation-name: blinker;
   -webkit-animation-duration: 0.8s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:ease-in-out;
   -webkit-animation-direction: alternate;
}
#live_article_title{
	font-size: 250%;
	font-weight: bold;
	color:ivory;
	margin-left:10%;
	/*margin-bottom: 5%;
	margin-left:10%;*/
}
#live_article_title span{
	font-size:140%;
	color:orange;
	text-align:center;
	width:120%;

}
/*#live_article_text{
	color: orange;
	font-size:300%;
	margin:3% 0 5% 30%;
	/*margin-bottom: 10%;*/
	/*color: rgb(199, 50, 35);*/
	/*color:ivory;
}*/
#streamer{
	margin:0 0 0 10%;
	width:80%;
	height:50%;
}
#game_streamer{
	text-align:left;
}
.live_article_menu{
	color : black;
	font-weight: bold;
	/*margin-left: auto;
	margin-right: auto;*/
	margin-left:10%;
	padding: 10%;
	width: 200%;
	margin-bottom:20%; 
	background-color: orange;
	text-align:center;
}
.live_article_menu2{
	/*margin-left:auto;
	margin-right: auto;*/
	color :orange;
	width:200%;
	padding :10%;
	background-color: ivory;
	text-align:center;
	margin-left:10%;
	font-weight: bold;

}
.live_article_menu3{
	/*margin-left:auto;
	margin-right: auto;*/
	color :black;
	width:200%;
	padding :10%;
	background-color: orange;
	text-align:center;
	margin-left:10%;
	margin-top:20%;
	font-weight: bold;

}
/*live article end*/
#live_left{
	float:left;
	margin-left:7%;
	margin-top:3%;
}
#live_right{
	float:right;
	margin-right:20%;
	margin-top:5%;
}

/*슬라이드쇼 관련*/
#slide_show{
	position: relative;
	overflow: hidden;
	width:100%; 
	height:40%;
	border:1px solid black;
	margin: 0 auto;
	margin-top: 10%;
}
.slide{
	
	display: none;
	width:100%; 
	height:100%;
}
#left_arrow{
	position: absolute;
	top: 40%;
	width: 5%;
	height: 20%;
	opacity: 0.2;
}
#right_arrow{
	position: absolute;
	top: 40%;
	right: 0%;	
	width: 5%;
	height: 20%;
	opacity: 0.2;
}

/*기사 내용 부분*/
.article{
	margin:0 auto;
	width:100%; 
	height:100%;
	/*border:1px solid black;*/
}

.article_partition{
	width:90%;
	height:130%;
	margin:5% auto;
	padding:2% 0 0 2%;
	position:relative;
	background-color:black;
}

.small_article{
	position:relative;
	margin:3% 3%;
	float:left;
	width:45%; 
	height:35%;
	text-align:center;
	background-color: white;
	border:1px dotted black;
	z-index: 10;
	overflow:hidden;
}
.article_title{
	margin: 3% 5%;
	width:45%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height:8%;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,79,90,1) 0%, rgba(238,79,119,1) 79%, rgba(238,79,138,1) 100%);
}
.article_thumbnail{

	text-align: center;
	height: 70%;
	width: 95%;
	margin:0 auto;
	color: white;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,79,138,1) 0%, rgba(238,79,119,1) 21%, rgba(238,79,90,1) 100%);
  
}

.article_thumbnail img{
	height: 30%;
	widows: 30%;
}

.article_content{
	display: none;
	height: 70%;
	width: 95%;
	margin:0 auto;
	color: white;
	border:2px solid rgba(236, 54, 66, 1);
}
.go_back_arrow{
	position: absolute;
	bottom:1%;
	right:1%;
	width: 7%;
	height: 7%;

}
.article_status{
	position: absolute;
	overflow: hidden;
	height: 6%;
	width: 25%;
	right: 3%;
	top: 8%;
	background-color: #fff3e6;
}
.like_counter{	
	margin-right: 20%;
	float: right;
	height: 100%;
}
.watch_counter{
	margin-left: 5%;
	float: left;
	height: 100%;
}

.article1{
	position:absolute;
	left:1%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article2{
	position:absolute;

	left:50%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article3{
	position:absolute;
	left:1%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article4{
	position:absolute;

	left:50%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
