*{margin:0; padding: 0;}
/*body{font-family: }*/
/*body{padding: 60px;}*/
li{list-style: none;}
a{text-decoration: none;}
img{border:0;}

html,body{
	height:100%;
}
/*화면 우측 하단 설정 버튼*/
.setting_button{ 
	z-index:99;
	position: absolute;
	width: 5%;
	height:5%;
	right: 0;
}

/*상단 헤더 메뉴*/
#main_header{ 
	z-index: 100; /*가장 상단 노출*/
	position: fixed;
	top: 0;
	left: 0;
	height: 11%;
	width: 100%;
	background-color: black;
}

/*슬라이드쇼 관련*/
#slide_show{
	position: relative;
	overflow: hidden;
	width:100%; 
	height:40%;
	border:1px solid black;
	margin: 0 auto;
	margin-top: 10%;
}
.slide{
	display: none;
	width:100%; 
	height:100%;
}
#left_arrow{
	position: absolute;
	top: 40%;
	width: 5%;
	height: 20%;
	opacity: 0.2;
}
#right_arrow{
	position: absolute;
	top: 40%;
	right: 0%;	
	width: 5%;
	height: 20%;
	opacity: 0.2;
}

/*기사 내용 부분*/
.article{
	margin:5% auto;
	width:100%; 
	height:100%;
	border:1px solid black;
}

.article_partition{
	width:90%;
	height:130%;
	margin:5% auto;
	padding:2% 0 0 2%;
	position:relative;
}

.small_article{
	position:relative;
	margin:3% 3%;
	float:left;
	width:45%; 
	height:35%;
	text-align:center;
	background-color: white;
	border:1px dotted black;
	z-index: 10;
}
.article_title{
	margin: 3% 5%;
	width:45%;

	height:8%;
	line-height: 30px;
	background-color: rgba(236, 54, 66, 1);	
}
.article_thumbnail{
	height: 70%;
	width: 95%;
	margin:0 auto;

	background-color: rgba(236, 54, 66, 1);
}
.article_content{
	display: none;
	height: 70%;
	width: 95%;
	margin:0 auto;
	border:2px solid rgba(236, 54, 66, 1);
}
.article_status{
	position: absolute;
/*<<<<<<< HEAD
*/	height: 5%;
	width: 45%;
	right: 3%;
	bottom: 3%;
	background-color: ivory;
}
.like_counter{
	float: right;
	height: 100%;
}
.watch_counter{
	float: left;
	height: 100%;
}

.article1{
	position:absolute;
	left:1%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article2{
	position:absolute;

	left:50%;
	top:1%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article3{
	position:absolute;
	left:1%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}
.article4{
	position:absolute;

	left:50%;
	top:40%;
	/*background-color:#EDB2B8;*/
	/*z-index:-1;*/
}